@font-face{font-family:'Inter';src:url('polices/inter-400.woff2') format('woff2');font-weight:100 900;font-display:block}
@font-face{font-family:'Russo One';src:url('polices/russo-one-400.ttf') format('truetype');font-weight:400;font-display:block}
@font-face{font-family:'Archivo Black';src:url('polices/archivo-black-400.woff2') format('woff2');font-weight:400;font-display:block}
@font-face{font-family:'JetBrains Mono';src:url('polices/jetbrains-mono-400.woff2') format('woff2');font-weight:100 800;font-display:block}
